<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.darmstadt.tu.wsn.locator"
    android:versionCode="4"
    android:versionName="1.33" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Launching Battery -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!-- All probes -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Wifi probe -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Bluetooth probe -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Store -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Service at boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity
            android:name="de.tud.wsn.locator.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity 
            android:name="de.tud.wsn.locator.WelcomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <data android:mimeType="image/png" /> -->
            </intent-filter>
        </activity>
        <activity 
            android:name="de.tud.wsn.locator.InitialInformationActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>

        <service android:name="edu.mit.media.funf.FunfManager" >
            <meta-data
                android:name="default"
                android:value="@string/default_pipeline" />
        </service>
        <service
            android:name="de.tud.wsn.locator.database.MyService"
            android:enabled="true" >
        </service>
        <service
            android:name="de.tud.wsn.locator.database.UploadUserDataService"
            android:enabled="true" >
        </service>
        
        <service
            android:name="de.tud.wsn.locator.database.UploadRegistrationService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="edu.mit.media.funf.Launcher"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DOCK_EVENT" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="de.tud.wsn.locator.database.BroadcastReceiverSensor" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="de.tud.wsn.locator.alarm.AlarmManagerBroadcastReceiver" >
        </receiver>

    </application>

</manifest>